.main-nav .menu li {
  background-color: #596E6E;
}

a.menu_link{
  color: #646D6B;
}

.block-accordion-menu .active {
  background-color: #596E6E;
  color: white;
  .active-trail {
    color:white;
  }
}

.main-nav .menu li:hover {
  a{
    color: #596E6E;
  }
}

.link-url a { color:#ffffff; }
